*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #f6d356, #fda085);
  color: #fff;
  min-height: 100vh;
}
header{
  font-size: 1.5rem;
}
header,form{
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input, form button{
  padding: 0.5rem;
  font: 2rem;
  border: none;
  background: #fff;
}
form button{
  color: #fda085;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover{
  background: #fda085;
  color: #fff;
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list{
  min-width: 30%;
  list-style: none;
}
.todo{
  margin: 0.5rem;
  background: #fff;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.todo li{
  flex: 1;
  transition: all 0.5s;
}
.trash-btn, .complete-btn{
  background: #ff6f47;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font: 1rem;
  transition: all 0.5s;
}
.complete-btn{
  background: rgb(73,204,73);
}
.todo-item{
  padding: 0rem 0.5rem;
}